---
---

<header class="wrapper region repel" style="--region-space:1.5rem;">
    <a data-variant="naked" href="/">Janine Everett Designs</a>
    <nav data-variant="main" aria-label="main">
        <ul class="cluster" style="--gutter:1.5rem", role="list">
            <li><a data-variant="naked" data-state="active" href="/">Home</a></li>
            <li><a data-variant="naked" href="/about">About</a></li>
        </ul> 
    </nav>
</header>