---
import ProductItem from "./ProductItem.astro";

---
<article class="prose flow region">
    <h2>Current Products</h2>
    <ul role="list" class="grid" data-layout="33x3">
        <!-- /** This will contain a map of products for now Hard code */ -->
        <ProductItem image="https://media.istockphoto.com/id/1297395648/photo/silver-bracelet-on-black-background.jpg?s=612x612&w=0&k=20&c=Pf2qLaBQLCIbzbRqTjp1NRHvPOOYDK-G8g5Df485wWE=" 
            title="Chased Silver bracelet" 
            description="Lorem ipsum odor amet, consectetuer adipiscing elit. Nisi venenatis sed amet facilisis orci dapibus himenaeos sem." 
            cost="50" 
            url="https://uns" />
        <ProductItem image="https://media.istockphoto.com/id/120536903/photo/silver-ring-macro.jpg?s=612x612&w=0&k=20&c=AC_-_NHN7ylYxW8wFLyCd4CGtH1u6Pe-z2-fTfytF-w=" 
            title="Chased Gold Ring" 
            description="Lorem ipsum odor amet, consectetuer adipiscing elit. Nisi venenatis sed amet facilisis orci dapibus himenaeos sem." 
            cost="80" 
            url="https://uns" />
        <ProductItem image="https://media.istockphoto.com/id/916485286/photo/3d-illustration-white-gold-or-silver-decorative-wedding-bands-carved-out-ring-with-ornament.jpg?s=612x612&w=0&k=20&c=Z2J6SzUoR_3yltZ4aCy1wUyggWRptDKyp0fPBBzb0wg=" 
            title="Carved Wedding Band" 
            description="Lorem ipsum odor amet, consectetuer adipiscing elit. Nisi venenatis sed amet facilisis orci dapibus himenaeos sem." 
            cost="150" 
            url="https://uns" />
    </ul>
</article>