---
import SidebarNav from "../fragments/SidebarNav.astro";
import ProductList from "./ProductList.astro";

---
<section class="wrapper | region">
    <div class="sidebar" data-variant="sticky">
        
        <aside>
            <h2 class="region">Our Services</h2>
            <SidebarNav />
        </aside>
     
        <div>
            <ProductList /> 
        </div>
</div>
</section>